body {
    overflow-x: hidden;
}
figure img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #666666
}
figcaption {
    font-size: 1.2rem;
    font-style: italic;
    color: #666666;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sidebar {
    margin-top: 1rem;
    top: 4.5rem;
}
aside {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
