/*Teams*/
/*Website and Socials button size*/
a span {
    font-size: 14px;
}

@media (576px <= width < 768px) {
    a span {
        font-size: 2em;
    }
}

/*Carousel Styling*/
.c-img {
    height: 100%;
    object-fit: scale-down;
}

.c-item {
    height: 540px;
}
