
/*Media Query to adjust Team social media buttons*/
a span {
    font-size: 14px;
}

@media (576px <= width < 768px) {
    a span {
        font-size: 2em;
    }
}

/*Carousel Styling*/
.c-img {
    height: 100%;
    object-fit: scale-down;
}

.c-item {
    height: 540px;
}

/*Team Colors*/
.panthers-primary {
    color: #582C84;
}

.buffalo-primary {
    color: #F9671C;
}

.swarm-primary {
    color: #FBB524;
}