.slideshow-container {
    width: 100%;
    height: 30em;
    position: relative;
}
.slideshow-container img {
    position: absolute;
    animation: slideshow 25s infinite;
    /* animation length should be (delay * number of slides) */
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:drop-shadow(3px 3px 3px #666666)
}

/* animation delay should be (length / number of slides) */
.slideshow-container img:nth-child(1) {
    animation-delay: 0s;
}
.slideshow-container img:nth-child(2) {
    animation-delay: 5s;
}
.slideshow-container img:nth-child(3) {
    animation-delay: 10s;
}
.slideshow-container img:nth-child(4) {
    animation-delay: 15s;
}
.slideshow-container img:nth-child(5) {
    animation-delay: 20s;
}

@keyframes slideshow {
    20% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
}
a{
    color: silver;
}
img{
    width: 350px;
    height: 200px;
    display: block;
	margin-left: auto;
	margin-right: auto;;
}
h1{
    background-color: #343a40;
    color: silver;
    padding: 10px;
    text-align:center;
}
