<footer class="pt-5">
  <section class="text-white bg-dark">
    <div class="container">
      <div class="d-flex">
        <p> © 2023 National Lacrosse League. All trademarks and copyrights used by permission. All rights reserved.</p>
      </div>
    </div>
  </section>
  <section class="text-white bg-dark">
    <div class="container">
      <div class="d-flex text-whitetext-white justify-content-start align-items-center">
        <a href="https://www.nll.com/" class="d-flex align-content-center btn btn-sm btn-outline-secondary border-0 rounded-0 text-nowrap text-white" title="Visit the official website"><!-- change link -->
          <span class="bi bi-globe2 pe-1"></span>
          <p class="mb-0 d-none d-md-block">Official Website</p>
        </a>
        <a href="https://www.nll.com/contact-us/" class="d-flex align-content-center btn btn-sm btn-outline-secondary border-0 rounded-0 text-nowrap text-white" title="Contact the official website"><!-- change link -->
          <span class="bi bi bi-envelope pe-1"></span>
          <p class="mb-0 d-none d-md-block">Contact</p>
        </a>
      </div>
    </div>
  </section>
</footer>